<!-- templates/home.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}Home{% endblock %}



{% block content %}



    {% if user.is_authenticated %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">
                    Hi <strong>{{ user.username }}</strong>, have a good play!
                </h1>
            </div>
        </div>
        <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <img class="card-img-top"
                             src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/5711-super-smash-bros-article.jpeg?date=20170628-2"
                             alt="Card image cap">
                        <div class="card-body">
                            <h2>Super Smash Bros Ultimate</h2>
                            <p class="card-text">
                                Join us and organize matches against other penguin opponents on Super Smash Bros
                                Ultimate!</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if gameprofile == None %}
                                        <a class="btn btn-sm btn-outline-secondary"
                                           href="{% url 'gameprofile.new' game_id=1 %}">New
                                            game profil</a>
                                    {% else %}

                                        <a class="btn btn-sm btn-outline-secondary"
                                           href="{% url 'gameprofile.edit' gameprofile_id=gameprofile.id %}">Edit
                                            game profil</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <img class="card-img-top"
                             src="http://static2.cdn.ubi.com/ncsa/forhonor/website/og/ForHonor_og_1200x630.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h2>Other game</h2>
                            <p class="card-text">
                                Will be developed one day (maybe)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">
                    Welcome to Versus Finder
                </h1>
                <p class="lead">
                <h2>Find an opponent of your choice !</h2>
                </p>
                <table class="table">
                    <tr>
                        <td>
                            <p><strong>Do you already have an account ?</strong>
                                <a class="btn btn-lg btn-success" href="{% url 'login' %}">Login</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p> New on the website ?
                                <a class="btn btn-lg btn-success" href="{% url 'signup' %}">Sign up</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <h3>This is the games you'll be able to find opponent on !</h3>
            <div class="card mb-6 shadow-sm">
                <img class="card-img-top"
                     src="https://d2m5zqqcosbe2i.cloudfront.net/uploads/media/1/5711-super-smash-bros-article.jpeg?date=20170628-2"
                     alt="Card image cap">
                <div class="card-body">
                    <h2>Super Smash Bros Ultimate</h2>
                    <p class="card-text">
                        Join us and organize matches against other penguin opponents on Super Smash Bros
                        Ultimate!</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}