html, body {
    background: url(../img/background.png) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.content {
    background-color: #f8f8f8;
    opacity: 0.98;
    min-height: 100vh;
}

