<!-- templates/registration/login.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}Gameprofile{% endblock %}

{% load static %}

{% block content %}

<div class="container h-100">
    <div class="card mb-10 shadow-sm flex-row flex-wrap h-100">
        <div class="col-sm-3">
            <div class="card-header border-0">
                <img class="card-img-top"
                src="{% static '' %}img/{{ content_gameprofile.mainchar.name }}.png"
                alt="Card image cap"
                style="max-width: 100%; max-height:100%; background-position: 50% 50%;">
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card-body">
                <div class="card-text h1">
                    {{ content_gameprofile.username }}
                    <em class="text-muted">
                        #{{ content_gameprofile.battletag }}
                    </em>
                    <div class="right">
                        {% if gameprofile is not None and content_gameprofile.id == gameprofile.id %}
                            <a class="btn btn-sm btn-outline-secondary"
                                href="{% url 'gameprofile.edit' gameprofile_id=gameprofile.id %}">Edit gameprofile
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_skill" class="col-sm-2 col-form-label col-form-label-lg">Skill</label>
                    <div class="col-sm-2"><p>Noob</p></div>
                    <div class="col-sm-6">
                        <div id="input_skill" name="input_skill"></div>
                        <input type="hidden" id="input_skill_value" name="input_skill_value" value="{{ content_gameprofile.skill_level }}"/>
                    </div>
                    <div class="col-sm-2"><p>Pro</p></div>
                </div>

                <p class="card-text h3">Banlist</p>

                {% if gameprofile is not None and content_gameprofile.id == gameprofile.id %}
                    <!-- Banlist button -->
                    <div style="padding: 10px 10px 50px 10px;">
                        <form action="{% url 'banlist.modify' gameprofile_id=gameprofile.id %}" method="POST">
                            {% csrf_token %}
                        <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Edit banlist" name="Submit" id="redirect_submit" />
                        </form>
                    </div>
                    <!-- END OF Banlist button -->
                {% endif %}

                <div class="card-columns" style="column-count: 5;">
                    {% for character in content_gameprofile.banlist.all %}
                        <div class="card bg-dark text-white">
                            <img class="card-img rounded mx-auto d-block " src="{% static '' %}img/{{ character.name }}.png" alt="{{ character.name }}" style="max-width: 50%;"/>
                            <div class="card-img-overlay">
                                <div class="card-title form-group">
                                    {{ character.name }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var skill_input = document.getElementById('input_skill');
    var skill_value = document.getElementById('input_skill_value');
    
    var slider = noUiSlider.create(skill_input, {
        step: 1,
        start: skill_value.value,
        connect: [true, false],
        range: {
            'min': 0,
            'max': 10
        }
    });

    slider.on('update', function (values, handle) {
        skill_value.value = Math.round(values[handle]);
    });

    skill_input.setAttribute('disabled', true);
    
    </script>

{% endblock %}