<!-- templates/registration/login.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}Edit gameprofile{% endblock %}

{% block content %}
<h2>Edit profile for {{ game.name }}</h2>

<form method="post" action="{% url 'gameprofile.update' user_id=user_id gameprofile_id=gameprofile.id %}">
  {% csrf_token %}

  <label for="input_pseudo">
    <input type="text" name="input_pseudo" id="input_pseudo" value="{{ gameprofile.username }}"/>
    Pseudo
  </label>

  <label for="input_character">
    <select id="input_character" name="input_character">
        {% for character in characters %}
          <option value="{{ character.id }} {% if character.id == gameprofile.mainchar.id %} selected {% endif %} ">
            {{ character.name }}
          </option>
        {% endfor %}
    </select> 
    Character played
  </label>

  <label for="input_skill">
    <input id="input_skill" name="input_skill" type="range" min="1" max="10" value="{{ gameprofile.skill_level }}" class="slider">
    Competence level
  </label>
  
  <button type="submit">Update</button>
</form>
{% endblock %}