<!-- templates/registration/login.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}New profil{% endblock %}

{% block content %}
<h2>New profil for {{ game.name }}</h2>

<form method="post" action="{% url 'gameprofile.register' user_id=user_id game_id=game.id %}">
  {% csrf_token %}

  <label for="input_pseudo">
    <input type="text" name="input_pseudo" id="input_pseudo"/>
    Pseudo
  </label>

  <label for="input_character">
    <select id="input_character" name="input_character">
        {% for character in characters %}
          <option value="{{character.id}}">
            {{ character.name }}
          </option>
        {% endfor %}
    </select> 
    Character played
  </label>

  <label for="input_skill">
    <input id="input_skill" name="input_skill" type="range" min="1" max="10" value="5" class="slider">
    Competence level
  </label>
  
  <button type="submit">New profil</button>
</form>
{% endblock %}