<!-- templates/home.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}About{% endblock %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">
                    About <strong>us</strong> !
                </h1>
            </div>
        </div>
        <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <img class="card-img-top" src="{% static '' %}img/he-arc.jpg" alt="Card image cap" style="padding: 30px;">
                        <div class="card-body">
                            <h2>HE-Arc</h2>
                            <p class="card-text">
                                Have a look at HE-Arc website
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" href="https://www.he-arc.ch/">Go !</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <div class="card-body">
                            <h2>The devs</h2>
                            <p class="card-text">
                                Developped by
                                <ul>
                                    <li><a href="https://github.com/Miaouw17">Quentin Michel</a></li>
                                    <li><a href="https://github.com/Maering">Segan Salomon</a></li>
                                    <li><a href="https://github.com/Skogarmadr">Lucas Srdjenovic</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">
                    Welcome to Versus Finder
                </h1>
                <p class="lead">
                    Find an opponent of your choice !
                </p>
                <hr>
                <p><strong>Do you already have an account ?</strong>
                    <a class="btn btn-lg btn-success" href="{% url 'login' %}">Log in</a>
                </p>
                <p> New on the website ?
                    <a class="btn btn-lg btn-success" href="{% url 'signup' %}">Sign up</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}