<!-- templates/home.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}Ban list{% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <div class="card" style="padding: 30px 50px 15px 30px;">
        <div class="card-title">
            <h1  class="float-left">Updating banlist</h1>
            <a class="btn btn-primary float-right"  href="{% url 'gameprofile.show' gameprofile_id=gameprofile.id %}">Go back to the profile</a>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer">Automatically updates</footer>
                
            </blockquote>
        </div>
        
    </div>

    <div class="card-columns" style="column-count: 5;">
    {% for character in characters %}
        <div class="card bg-dark text-white">
            <img class="card-img rounded mx-auto d-block " src="{% static '' %}img/{{ character.name }}.png" alt="{{ character.name }}" style="max-width: 50%;"/>
            <div class="card-img-overlay">
                <div class="card-title form-group">
                    <input type="checkbox" id="ban-{{ character.id }}"
                    {% if character in banlist %} checked {% endif %}
                    onclick="BanlistTools.alter({{ gameprofile.id }}, {{ character.id }})"
                    class="form-control"
                    />
                    <label for="ban-{{ character.id }}">
                        {{ character.name }}
                    </label>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>


{% else %}


  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>


{% endif %}

{% endblock %}

