{% extends 'versusfinder_app/base.html' %}

{% block title %}DashBoard{% endblock %}

{% block content %}
    <h1 class="display-1">Dashboard</h1>
    <hr>
    <div style="width:100%;">
        <table>
            <tr>
                <td id="match_incoming" style="width:80%;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="card">
                                    <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                                        <div class="card-body">
                                            {% if next_match != Null %}
                                                <h4 class="card-title">Next Match</h4>
                                                <p class="card-text">{{ next_match.user_profile_one.username }}
                                                    as {{ next_match.user_profile_one.mainchar.name }}
                                                    VS {{ next_match.user_profile_two.username }}
                                                    as {{ next_match.user_profile_two.mainchar.name }}</p>
                                                <p class="card-text">BEGIN
                                                    : {{ next_match.timetable.getDateBeginFormated }}</p>
                                            {% else %}
                                                <h4 class="card-title">No Match in coming :(</h4>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <div id="carouselExampleControls" class="carousel slide"
                                                 data-ride="carousel">
                                                <div class="carousel-inner">
                                                    {% for match in user_old_matchs %}
                                                    <div class="carousel-item active">
                                                       <div>
                                                           <p>{{ match.user_profile_one.mainchar.name }} VS {{ match.user_profile_two.mainchar.name }}</p>
                                                           <h4>Score</h4>
                                                           <p>{{ match.user_profile_one.username }} : {{ match.user_one_score }}</p>
                                                           <p>{{ match.user_profile_two.username }} : {{ match.user_two_score }}</p>
                                                       </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleControls"
                                                   role="button"
                                                   data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleControls"
                                                   role="button"
                                                   data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td id="piechart" style="width:20%;">
                    <div>
                        <canvas id="stats_charts"></canvas>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        <a href="#">Nouvelle disponiblité</a>
    </div>

    <div id="calendar">

    </div>

    <script>
        var ctx = document.getElementById("stats_charts").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Win", "Lose"],
                datasets: [{
                    backgroundColor: [
                        "#00FF00",
                        "#FF0000"
                    ],
                    data: [{% for stat in user_stats %}{{ stat }}, {% endfor %}]
                }]
            }
        });

        $('#calendar').fullCalendar({
            defaultDate: '{{ today }}',
            defaultView: 'agendaWeek',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay'
            },
            events: [
                {% for timetable in user_timetable %}
                    {
                        title: 'SmashBros',
                        start: '{{ timetable.getDateBeginFormated }}',
                        end: '{{ timetable.getDateEndFormated}}',
                        rendering: 'background'
                    },
                {% endfor %}
                {% for match in user_matchs %}
                    {
                        title: '{{ match.user_profile_one.username }} VS {{ match.user_profile_two.username }}',
                        start: '{{ match.timetable.getDateBeginFormated }}',
                        end: '{{ match.timetable.getDateEndFormated}}',
                        rendering: 'background'
                    },
                {% endfor %}
            ]
        });
    </script>

{% endblock %}