{% extends 'versusfinder_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    Hi ???, vous trouverez ??? !
    <div>
        <a href="{% url 'login' %}">Rechercher un adversaire !</a>
    </div>
    <div>
        <p>Les matchs à venir</p>
    </div>

    <div>
        {% for match in matchs %}
            <p>Joueur 1 : {{ match.get_user_one_profile.username }}</p>
            <p>Joueur 2 : {{ match.get_user_two_profile.username }}</p>
        {% endfor %}
    </div>

{% endblock %}