{% extends 'versusfinder_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    Hi ???, vous trouverez ??? !
    <div>
        <a href="{% url 'searchmatch' %}">Rechercher un adversaire !</a>
    </div>
    <div>
        <p>Les matchs à venir</p>
    </div>

    <div>
        {% for match in matchs %}
            <p>Joueur 1 : {{ match.user_profile_one.username }}</p>
            {% for char in match.user_profile_one.banlist.all %}
                <p>Character ban : {{ char.name }}</p>
                {% empty %}
                Aucun ban!
            {% endfor %}
            <p>Joueur 2 : {{ match.user_profile_two.username }}</p>
        {% endfor %}
    </div>

{% endblock %}