<!-- templates/home.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}Home{% endblock %}



{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}, son ID est {{user_id}} !
    <p><a href="{% url 'logout' %}">logout</a></p>
    <p><a href="{% url 'newprofil' %}">new game-profil</a></p>
    <p><a href="{% url 'searchmatch' %}">search match</a></p>
    <p><a href="{% url 'gamepage' %}">game page</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}