<!-- templates/home.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}Home{% endblock %}



{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}, son ID est {{ user_id }} !
        <p><a href="{% url 'logout' %}">logout</a></p>
        {% if gameprofile == None %}
            <p><a href="{% url 'gameprofile.new' user_id=user_id game_id=1 %}">new game-profil</a></p>
        {% else %}
            <p><a href="{% url 'gameprofile.edit' user_id=user_id gameprofile_id=gameprofile.id %}">Edit game-profil</a></p>
        {% endif %}
        <p><a href="{% url 'game.show' game_id=1 %}">game page</a></p>
        <p><a href="{% url 'dashboard' user_id=user_id %}">dashboard</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}