{% extends 'versusfinder_app/base.html' %}

{% block title %}Match Detail{% endblock %}

{% block content %}
    <h1 class="display-1">Match Detail</h1>
    <hr>
    <div>
        {% load static %}
        <table style="margin: auto;">
            <tr>
                <td>
                    <!-- https://stackoverflow.com/questions/18040941/load-static-file-with-variable-name-in-django -->
                    <div class="card border border-dark rounded" style="width: 15rem;">
                        <img class="card-img-left"
                             src="{% static '' %}img/{{ match.user_profile_one.mainchar.name }}.png"/>
                        <div class="card-body">
                            <div class="btn btn-info"><a
                                    href="{% url 'gameprofile.show' user_id=match.user_profile_one.user.id gameprofile_id=match.user_profile_one.id %}">
                                <h5 class="card-title">{{ match.user_profile_one.username }}</h5></a></div>
                            <div class="card-text">
                                <p>As : {{ match.user_profile_one.mainchar.name }}</p>
                                <p>Level : {{ match.user_profile_one.skill_level }}</p>
                            </div>
                        </div>
                    </div>
                </td>

                <td align="center">
                    <img src="{% static '' %}img/vs.png"/>
                    <h2>BEGIN AT : {{ date_begin }}</h2>
                    <h2>END AT : {{ date_end }}</h2>
                    <hr>
                    <h3>Score</h3>
                    <!-- could be abuse by sore loser
                    protect it by send a request to the other player of the match to confirm the score -->
                    {% if gameprofile.id == match.user_profile_one.id or gameprofile.id == match.user_profile_two %}
                        {% if match.user_one_score != 3 and match.user_profile_two != 3 %}
                            <form action="{% url 'match.alterscore' game_id=game.id match_id=match.id %}" method="post">
                                {% csrf_token %}
                                <input id="score_player_1" name="score_player_1" type="number"
                                       placeholder="Score of {{ match.user_profile_one.username }}"
                                       step="1" min="0" max="3" value="{{ match.user_one_score }}">
                                <input id="score_player_2" name="score_player_2" type="number"
                                       placeholder="Score of {{ match.user_profile_two.username }}"
                                       step="1" min="0" max="3" value="{{ match.user_two_score }}">
                                <input type="submit" value="Validate">
                            </form>
                        {% else %}
                            <h4>{{ match.user_profile_one.username }} : {{ match.user_one_score }}</h4>
                            <h4>{{ match.user_profile_two.username }} : {{ match.user_two_score }}</h4>
                        {% endif %}
                    {% else %}
                        <h4>{{ match.user_profile_one.username }} : {{ match.user_one_score }}</h4>
                        <h4>{{ match.user_profile_two.username }} : {{ match.user_two_score }}</h4>
                    {% endif %}
                </td>

                <td>
                    <div class="card border-5 border-dark rounded" style="width: 15rem;">
                        <img class="card-img-left"
                             src="{% static '' %}img/{{ match.user_profile_two.mainchar.name }}.png"/>
                        <div class="card-body">
                            <div class="btn btn-info"><a
                                    href="{% url 'gameprofile.show' user_id=match.user_profile_two.user.id gameprofile_id=match.user_profile_two.id %}">
                                <h5 class="card-title">{{ match.user_profile_two.username }}</h5></a></div>
                                <div class="card-text">
                                    <p>As : {{ match.user_profile_two.mainchar.name }}</p>
                                    <p>Level : {{ match.user_profile_two.skill_level }}</p>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}