{% extends 'versusfinder_app/base.html' %}

{% block title %}Search Detail{% endblock %}

{% block content %}
    <h1 class="display-1">Search Detail</h1>
    <hr>
    <div>
        {% for opponent in opponents %}
            <h2>
                {{ opponent.gameprofile.username }}
            </h2>
            {{ opponent.gameprofile.mainchar }}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Opponent</th>
                    <th scope="col">Mainchar</th>
                    <th scope="col">Begin</th>
                    <th scope="col">End</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for timetable in opponent.timetables %}
                    <form>
                        <tr>
                            <td id="username"><h2>{{ opponent.gameprofile.username }}</h2></td>
                            <td id="mainchar">{{ opponent.gameprofile.mainchar }}</td>
                            <td id="date_begin">{{ timetable.date_begin }}</td>
                            <td id="date_end">{{ timetable.date_end }}</td>
                            <td><input class="btn btn-primary btn-lg" type="submit" value="Choose"></td>
                        </tr>
                    </form>

                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

    </div>


{% endblock %}