<!-- templates/registration/login.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}New profil{% endblock %}

{% block content %}
<h2>New profil for {{ game.name }}</h2>

<label for="input_pseudo">
  <input type="text" name="input_pseudo" id="input_pseudo"/>
  Pseudo
</label>

<form method="post">
  {% csrf_token %}

  <div>
    <label for="input_character">
      <select id="input_character">
          {% for character in characters %}
            <option value="{{character.id}}">
              {{ character.name }}
            </option>
          {% endfor %}
      </select> 
      Character played
    </label>
  </div>

  <!-- Initialiser la ban list à null -->

  <div>
    <label for="input_skill">
      <input id="input_skill" name="input_skill" type="range" min="1" max="10" value="5" class="slider" id="myRange">
      Competence level
    </label>
  </div>
  
  <button type="submit">New profil</button>
</form>
{% endblock %}

<!-- JS nécessaire pour la gestion des bans et l'envoi du formulaire -->