<!-- templates/registration/login.html -->
{% extends 'versusfinder_app/base.html' %}

{% block title %}New profil{% endblock %}

{% block content %}
<h2>New profil for {{ game.name }}</h2>

<label for="input_pseudo">
  <input type="text" name="input_pseudo" id="input_pseudo"/>
  Pseudo
</label>

<form method="post">
  {% csrf_token %}

  <div>
    <label for="input_character">
      <select id="input_character">
          {% for character in characters %}
            <option value="{{character.id}}">
              {{ character.name }}
            </option>
          {% endfor %}
      </select> 
      Character played
    </label>
  </div>

  <div>
      <div>
          <label for="input_banlist">
            <ul>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Some Dropdown<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {% for character in characters %}
                      <li>
                        <p>
                            {% if character.name in banlist %}
                              <input type="checkbox" id="{{ character.name }}_banned" value="{{ character.name }}_banned" checked/>
                            {% else %}
                              <input type="checkbox" id="{{ character.name }}_banned" value="{{ character.name }}_banned"/> 
                            {% endif %}

                            {{ character.name }} 
                            <i class="icon-arrow-up"></i>
                        </p>
                      </li>
                          
                    {% endfor %}
                  </ul>
              </li>
          </ul>
          Character banned
          </label>

          {% for character_name in banlist %}
            <p>
              {{ character_name }} 
            </p>
          {% endfor %}

      </div>
      <input type="button" value="Ban" name="input_newban" id="input_newban"/>
  </div>

  <!-- Initialiser la ban list à null -->

  <div>
    <label for="input_skill">
      <input id="input_skill" name="input_skill" type="range" min="1" max="10" value="5" class="slider" id="myRange">
      Competence level
    </label>
  </div>
  
  <button type="submit">New profil</button>
</form>
{% endblock %}

<!-- JS nécessaire pour la gestion des bans et l'envoi du formulaire -->